.intro {
  height: calc(100vh - 155px);
  background-image: url('../images/groovepet_head_bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  object-fit: cover;

  position: relative;
  z-index: 0;

  @media only screen and (max-width: 1200px) {
    background-size: cover;
  }

  //   Text
  &__text {
    position: absolute;
    z-index: 3;
    top: 150px;
    cursor: default;

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 50px;
    right: 0;

    @media only screen and (max-width: 960px) {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 0 50px;
      top: 100px;
      right: 0;
    }

    @media only screen and (max-width: 400px) {
      top: 20px;
      padding: 0;
    }

    > * {
      padding: 10px;
    }

    h1 {
      color: $main-color;
      font-size: 2.8em;
      font-family: 'Righteous', cursive;
      padding-bottom: 50px;
      text-shadow: 0px -2px 5px rgba(0, 0, 0, 0.59);

      @media only screen and (max-width: 960px) {
        font-size: 2em;
      }

      @media only screen and (max-width: 400px) {
        font-size: 1.7rem;
        padding-bottom: 10px;
      }
    }

    h3 {
      font-size: 1.7em;
      color: #ec0186;

      @media only screen and (max-width: 960px) {
        font-size: 1.5em;
      }

      @media only screen and (max-width: 400px) {
        font-size: 1.4em;
      }
    }

    p {
      font-size: 1.5rem;

      @media only screen and (max-width: 960px) {
        font-size: 1.4rem;
      }

      @media only screen and (max-width: 400px) {
        font-size: 1rem;
      }
    }

    &__span {
      color: rgb(13, 79, 157);
      position: relative;
      width: auto;
      font-weight: bold;

      &:after {
        content: '';
        width: 80%;
        height: 2px;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgb(13, 79, 157);
        border-radius: 100px;
      }
    }
  }

  //   Video button and more
  &__video {
    position: absolute;
    bottom: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 100%;

    @include watch-video;

    @media only screen and (max-width: 400px) {
      bottom: 80px;
    }
  }

  //   Shade
  &__shade--blue {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;

    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
      175deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(13, 79, 157, 1) 100%
    );
    background: -webkit-linear-gradient(
      175deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(13, 79, 157, 1) 100%
    );
    background: linear-gradient(
      172deg,
      rgba(255, 255, 255, 0) 62%,
      rgb(13, 79, 157) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#0d4f9d",GradientType=1);
  }

  &__shade--gray {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

    background: rgb(92 92 92 / 40%);
  }
}
