.footer {
  min-height: 20vh;

  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(238, 238, 238, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(238, 238, 238, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(238, 238, 238, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#eeeeee",GradientType=1);

  .wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    padding: 70px 0 70px 0;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin: 10px 10px;
        transition: all 0.8s linear;

        a {
          color: #000000;
          text-decoration: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__copyright {
    padding: 30px 0 30px 0;
    line-height: 1.6;
  }
}
