.gpOne {
  text-align: center;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  font-size: 1.5rem;
  width: 100%;

  @media only screen and (max-width: 950px) {
    padding: 100px 10px;
  }

  @media only screen and (max-width: 650px) {
    h1 {
      font-size: 1.6rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  & > * {
    padding: 50px;
  }
}
