.gpOne {
  text-align: center;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  // font-size: 1.5em;
  width: 100%;

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.5em;
  }

  @media only screen and (max-width: 960px) {
    padding: 50px 10px;

    h1 {
      font-size: 2em;
    }

    p {
      font-size: 1.5em;
    }
  }

  @media only screen and (max-width: 400px) {
  }

  & > * {
    padding: 50px;
  }
}
