.gpSix {
  min-height: 70vh;
  text-align: center;
  padding: 80px 50px 50px 50px;

  &__testimonial {
    z-index: 5;
    overflow: hidden;

    &__content {
      &__text {
        h1 {
        }

        p {
        }
      }

      &__slide {
        padding: 50px 0;
        background-image: url('../images/tim-slika.png');

        .image {
          object-fit: cover;

          @media only screen and (max-width: 500px) {
            width: 100%;
          }
        }

        .details {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .name {
            font-weight: 600;
            margin-bottom: 10px;
          }

          .role {
            font-weight: 400;
          }
        }
      }
    }
  }
}
