.gpSeven {
  min-height: 70vh;
  background-color: #eeeeee;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  background-image: url('../images/groovepet_social_network_world_9.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1520px) {
    background-size: 100%;
  }

  .wrap {
    padding-top: 100px;
    padding-bottom: 300px;
    width: 70%;

    @media only screen and (max-width: 600px) {
      width: 90%;
      padding-bottom: 200px;
    }
  }

  &__text {
    p {
      font-weight: bold;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;

    .email {
      height: 40px;
      width: 400px;
      border: none;
      margin-bottom: 15px;
      padding: 20px;
      outline: none;
      color: #000000;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }

    .subscribe {
      width: 400px;
      height: 40px;
      border: none;
      background: $main-color;
      cursor: pointer;
      transition: all 0.3s linear;
      font-weight: bold;
      color: #fff;

      &:hover {
        background: #196dd3;
      }

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
