@import '_var';

.header {
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #292c40;

    &__contact__email {
      .fa-envelope {
        color: #fff;
      }

      a {
        color: #ffffff !important;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 100px;
    }

    &__subscribe {
      button {
        @include button-mixin;
        padding: 20px;
      }
    }
  }
}
