@import '_var';

.header {
  &__top {
    background: #292c40;
    width: 100%;

    .wrap {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin: 0 auto;
      padding: 20px 20px;

      @media only screen and (max-width: 1200px) {
        width: 100%;
      }
    }

    &__contact__email {
      .fa-envelope {
        color: #fff;
      }

      a {
        color: #ffffff !important;
      }
    }
  }

  &__bottom {
    width: 100%;

    .wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin: 0 auto;

      @media only screen and (max-width: 1200px) {
        width: 100%;
      }
    }

    &__logo {
      width: min(50vw, 300px);

      img {
        width: 100%;
      }
    }

    &__subscribe {
      button {
        @include button-mixin;
        padding: 20px;
      }
    }
  }
}
