// Variables
@import '_var';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
  background: $main;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  color: $main-color;
  font-size: 2rem;
}

@import '_header';
@import '_intro';
@import '_video';
@import '_gpOne';
@import '_gpTwo';
@import '_gpThree';
