@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Righteous&family=Roboto&family=Ubuntu&display=swap');

// Variables
@import '_var';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // font-family: 'Eczar', serif;
  font-family: 'Roboto', sans-serif;
  background: $main;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  color: $main-color;
  font-size: 2.8em;
}

// p {
//   font-size: 1.5em;

//   @media only screen and (max-width: 960px) {
//     font-size: 1.4em;
//   }

//   @media only screen and (max-width: 400px) {
//     font-size: 1.2em;
//   }
// }

@import '_header';
@import '_intro';
@import '_video';
@import '_gpOne';
@import '_gpTwo';
@import '_gpThree';
