@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Righteous&family=Roboto&family=Ubuntu&display=swap');

// Variables
@import '_var';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $main;
}

h1 {
  color: $main-color;
  font-size: 2.5em;
  padding-bottom: 50px;

  @media only screen and (max-width: 960px) {
    font-size: 2em;
  }

  @media only screen and (max-width: 500px) {
    font-size: 1.5em;
  }
}

p {
  font-size: 1.5em;
  line-height: 1.6;

  @media only screen and (max-width: 500px) {
    font-size: 1em;
  }
}

strong {
  font-size: 1.6em;

  @media only screen and (max-width: 500px) {
    font-size: 1.1em;
  }
}

::placeholder {
  color: black;
}

@import '_header';
@import './sections/intro';
@import './sections/_video';
@import './sections/_gpOne';
@import './sections/_gpTwo';
@import './sections/_gpThree';
@import './sections/_gpFour';
@import './sections/_gpFive';
@import './sections/_gpSix';
@import './sections/_gpSeven';
@import '_footer';

@import './sections/_newsletterPopup';
